@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

:root {
    --main-50: hsl(185, 40%, 94%);
    --main-100: hsl(185, 90%, 75%);
    --main-200: hsl(185, 80%, 40%);
    --main-300: hsl(185, 80%, 15%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    background: #FCFBFA;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 24% 1fr;
    grid-template-areas:
        "nav content";
    padding: 0;
    margin: 0;
}

#navbar {
    grid-area: nav;
    position: fixed;
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--main-300);
}

#nav-header {
    padding: 0 1rem 0 1rem;
}

#nav-header-text {
    color: var(--main-200);
    font-size: 1.75rem;
}

#nav-list {
    list-style: none;
    width: 100%;
    padding: 0;
}

.nav-item {
    width: 100%;
    border-top: 2px solid var(--main-300);
}

.nav-link {
    display: block;
    width: 100%;
    margin-left: 1rem;
    color: var(--main-300);
    line-height: 2.5rem;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.nav-link:hover {
    color: var(--main-200);
}

#References-nav {
    border-bottom: 2px solid var(--main-300);
}

main {
    grid-area: content;
    padding: 0 3rem 1rem 2rem;
}

.header-text {
    color: var(--main-200);
    font-size: 1.75rem;
}

.section-text {
    color: var(--main-300);
    margin-left: 2rem;
}

section ul {
    color: var(--main-300);
    margin-left: 2rem;
}

.code-container {
    background: var(--main-50);
    font-size: 1rem;
    padding: 1rem;
    margin: 0 4rem 0 4rem;
    border-radius: 4px;
}

.code-tab {
    display: inline-block;
    width: 1rem;
}

@media (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "nav"
            "content";
    }

    #navbar {
        position: relative;
        border: none;
        padding-left: 1rem;
    }

    #nav-header {
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 600px) {
    main {
        padding: 0 2rem 1rem .5rem;
    }

    .header {
        margin-top: 4rem;
        text-align: center;
    }

    .section-text {
        margin-left: 1.5rem;
    }

    .section-bullet2 {
        margin-left: -1.5rem;
    }
}