@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    background: #FCFBFA;
}

main {
    padding: 2rem;
}

.code-container {
    background: lightgray;
    padding: 1rem;
    border-radius: 4px;
}

